@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400&display=swap');
html{
    font-size: 62.5%;  /**Reset par REMS  - 62.5% = 10px de 16 px**/
}

body{
    font-family: "Montserrat", sans-serif;
    font-size: 1.6rem;
}


/* Globales */
.contenedor{
    max-width: 120rem; /* = 1200px*/
    margin: 0 auto;
}

h1{
    font-size: 3.8rem;
}
h2{
    font-size: 3.4rem;
}
h3{
    font-size: 3rem;
}
h4{
    font-size: 2.6rem;
}


/**UTILIDADES**/
.seccion {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

/** HEADER**/
.site-header.inicio{
    background: url(../img/header.jpg);
    background-position: center center;
    background-size: cover;
    height: 100vh;
    min-height: 600px;
}

.contenido-header{
    height: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.contenido-header h1{
    color: white;
    font-weight: 600;
    padding-bottom: 30px;
    max-width: 65rem;
}

.barra{
    display: flex;
    justify-content: space-between;
    padding-top: 3rem;
    align-items: center;
}

.navegacion a{
    color:white;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
    margin-right: 2rem;
}
.navegacion a:hover{
    color:#71B100;
}

.navegacion a:last-of-type{
    margin-right: 0;
}